@model User
@{
	ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
	<section class="mb-16">		
		<div class="flex flex-col sm:flex-row justify-evenly mx-auto">
			<div class="sm:flex-1 max-w-sm rounded overflow-hidden shadow-lg mx-auto sm:mx-4 my-4 sm:ml-0">
				<img class="w-full" src="~/images/card-top.jpg" alt="Sunset in the mountains">
				<h2 class="font-bold text-xl text-purple-900 px-4 my-4">Everything is welcome</h2>
				<p class="text-gray-700 text-base px-4 mb-8">We are celebrating valid PRs of any kind, from documentations to aesthetics to, of course, code in any .NET open source project.</p>
			</div>

			<div class="sm:flex-1 max-w-sm rounded overflow-hidden shadow-lg mx-auto sm:mx-4 my-4">
				<img class="w-full" src="~/images/card-top.jpg" alt="Sunset in the mountains">
				<h2 class="font-bold text-xl text-purple-900 px-4 my-4">Hacktoberfest rules!</h2>
				<p class="text-gray-700 text-base px-4 mb-8">We are following the <a href="https://hacktoberfest.digitalocean.com/details">Hacktoberfest participation rules.</a></p>
			</div>

			<div class="sm:flex-1 max-w-sm rounded overflow-hidden shadow-lg mx-auto sm:mx-4 my-4 sm:mr-0">
				<img class="w-full" src="~/images/card-top.jpg" alt="Sunset in the mountains">
				<h2 class="font-bold text-xl text-purple-900 px-4 my-4">Log in with GitHub</h2>
				<p class="text-gray-700 text-base px-4 mb-8">To get started, log in with GitHub at the top of the page and start logging your pull requests!</p>
			</div>
		</div>
	</section>

	<section>
			<div>
				<p>If you are unsure where to start, you can start with PRs to this actual site! This site has been left intentionally bare-bones and somewhat devoid of style so the community can have fun with it! </p>
				<p>The Repo can be found <a href="https://github.com/Layla-P/HacktoberfestProject">https://github.com/Layla-P/HacktoberfestProject</a></p>
			</div>

			<div>
				<p>Community member and MVP <a href="">Luce Carter</a> has created this video on how to make a PR</p>
					<iframe src="https://www.youtube.com/embed/DoS_VKM542Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
	</section>

	<section>
			<h5>New to .NET and C#?</h5>

			<p> .NET Core is open source and cross platform.</p>

			<ul>
				<li>
					<a href="https://docs.microsoft.com/en-us/dotnet/standard/get-started">Getting started with .NET and C#</a>
				</li>
				<li>
					<a href="https://docs.microsoft.com/en-us/dotnet/core/install/">Installing .NET on your machine</a>
				</li>
				<li>
					<a href="https://www.youtube.com/watch?v=LWJ_HAzLJSQ&t=453s&ab_channel=LaylaCodesIt">C# for absolute beginners video</a>
				</li>
			</ul>

			<h5>I'm a front end developer, can I help?</h5>
			<p>Yes!</p>
			<p>
				Many .NET project such as this one have plenty of front-endy stuff whether you tinker with HTML and CSS or you're a full-blown JavaScript developer.
				We welcome your input that's why this site started off looking so ugly and janky!
			</p>
		</section>

	<hr />

	<section>
		<p>Raffle prizes kindly donated by the <a href="https://dotnetfoundation.org/">.NET Foundation</a></p>
		<img alt="the .NET Foundation logo" src="~/images/dotnetfoundation_v4_small.png" />
		<small>btw the the above image has inline styling, just saying.......</small>

	<hr />

		<p>Join the community channel on <a href="https://discord.gg/dvcMTyy">discord.</a></p>


		<p>Checkout this <a href="https://blog.jetbrains.com/dotnet/2020/09/30/hacktoberfest-2020-and-net-oss/?utm_source=twitter&utm_medium=referral&utm_campaign=resharper&utm_content=hacktober">blog from the JetBrains</a> crew with some cool suggestions for open source .NET projects to work on.</p>
	</section>

}
else
{
	<h1>Welcome @User.Identity.Name</h1>
	if (Model != null)
	{
		<div>
			<p>Below is a list of all the pull requests you have logged:</p>
			@foreach (var repo in Model.RepositoryPrAddedTo)
			{
				<h5>@repo.Owner - @repo.Name</h5>
				<ul>
					@foreach (var pr in repo.Prs)
					{
						<li>
							<a href="@pr.Url">Pull Request @pr.PrId</a> 
							<span title="@pr.Status?.GetDescription()"> @pr.Status </span>   
						</li>
					}
				</ul>
			}
			@* this will bring back a list of PRs, if there are some. *@
			<a asp-action="Add" asp-controller="Home">Add a PR</a>
		</div>
	}
	else
	{
		<h4>Hey there, we see you haven't recorded any PR's yet. Please use the button below to add one!</h4>
		<a asp-action="Add" asp-controller="Home">Add a PR</a>
	}
}

